<div class=" h-screen ml:px-14 ml:py-12 xs:py-8 xs:px-8 py-[15px] px-[15px] flex flex-col justify-between">
  <app-header></app-header>
  <div class="flex justify-evenly gap-5 flex-col-reverse md:flex-row-reverse items-center">
    <div>
      <img class=" w-[312px] md:w-[500px]" src="../../../assets/error.svg" alt="error image">
    </div>
    <div class="max-w-md text-center md:text-right">
      <h1 class="text-darkGreenColor text-[40px] md:text-[56px]  font-bold leading-[56px] md:leading-[70px]">عذرا فقد
        حدث<br><span class="text-lightGreenColor">خطأ اثناء
          التحقق!</span></h1>
      <p class="text-sm md:text-xl font-light py-5 text-lightGrayColor leading-8">اما ان صلاحية البريد المرسل قد انتهت
        او دخولك <br> الى
        هذه
        الصفحة غير مصرح به</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>