<div dir="rtl">
  <div class=" h-screen ml:px-14 ml:py-12 xs:py-8 xs:px-8 py-[15px] px-[15px] flex flex-col justify-between">
    <div class="flex justify-between">
      <div>
        <button (click)="decrementStep()" role="button"
          class="flex gap-3 rounded items-center hover:bg-darkGrayColor hover:bg-opacity-5 p-1">
          <fa-icon class="text-lightGreenColor" [icon]="arrow"></fa-icon>
          <span>الرجوع</span>
        </button>
      </div>
      <div>
        <img src="../../../assets/Retm Logo.svg" alt="Retm Logo">
      </div>
    </div>
    <div class="form-section border relative">
      <div class="form-steps absolute border h-[370px] flex flex-col justify-around top-1/2 -translate-y-1/2">
        <div *ngFor="let step of steps" [ngClass]="{active:formStep == step.number,done:formStep > step.number}">
          <div class="step-number">
            <span>{{step.number}}</span>
            <fa-icon [icon]="check"></fa-icon>
          </div>
          <div class="step-desc">
            <span>{{step.title}}</span>
            <div>{{step.des}}</div>
          </div>
        </div>
      </div>
      <form [formGroup]="cloudForm" class="border max-w-[420px] h-full mx-auto overflow-hidden relative">
        <div [ngClass]="{hide:formStep != 1}" class="bg-white p-6 rounded-xl">
          <div class="two-word" style="font-size: 24px;">
            الشروط
            <span>والأحكام</span>
          </div>
          <div class="h-[360px] overflow-auto py-3 px-6 text-sm font-light leading-7">
            <p>
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي
              للنص
              أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
              -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف)
              وكأنها
              نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج
              عن
              النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث.
              على
              مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض
              العبارات الفكاهية إليها الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل
              عشوائي
              أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص،
              بل
              انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن
              مع
              إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور
              برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم
              إيبسوم.

            </p>
          </div>
          <div class=" flex items-center gap-3 px-6 py-2">
            <input id="agreement" type="checkbox" formControlName="agreement">
            <label class="font-light" for="agreement">قرأتُ و اوافق
              <span class="text-vLightGrayColor">على</span><a href="" class="">
                الشروط و الأحكام </a> <span class="text-vLightGrayColor">
                التي تم ذكرها أعلاه.</span>
            </label>
          </div>
          <div>
            <button class="form-button" [disabled]="cloudForm.controls.agreement.invalid"
              (click)="incrementStep();log()">
              الخطوة التالية
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="text-lightGrayColor flex justify-between text-xs xs:text-sm">
      <a href="mailto:help@retm.sa.com" class="flex items-center gap-2">
        <fa-icon [icon]="emailIcon"></fa-icon>
        <span>help@retm.sa.com</span>
      </a>
      <div>
        &copy; {{year}} RETM. All rights reserved.
      </div>
    </div>
  </div>
</div>