<div>
  <div class=" h-screen ml:px-14 ml:py-12 xs:py-8 xs:px-8 py-[15px] px-[15px] flex flex-col justify-between">
    <div class="flex justify-between">
      <div>
        <button (click)="decrementStep()" role="button"
          class="flex gap-3 rounded items-center hover:bg-darkGrayColor hover:bg-opacity-5 p-1">
          <fa-icon class="text-lightGreenColor" [icon]="arrow"></fa-icon>
          <span>الرجوع</span>
        </button>
      </div>
      <div routerLink="/" role="button">
        <img src="../../../assets/Retm Logo.svg" alt="Retm Logo">
      </div>
    </div>
    <div class="form-section relative">
      <div class="form-steps absolute min-h-[370px] flex flex-col justify-around top-1/2 -translate-y-1/2">
        <div *ngFor="let step of steps" [ngClass]="{active:formStep == step.number,done:formStep > step.number}">
          <div class="step-number">
            <span>{{step.number}}</span>
            <fa-icon [icon]="check"></fa-icon>
          </div>
          <div class="step-desc">
            <span>{{step.title}}</span>
            <div>{{step.des}}</div>
          </div>
        </div>
      </div>
      <form [formGroup]="cloudForm"
        class="flex pt-8 items-center max-w-[420px] min-h-full mx-auto overflow-hidden relative">
        <div [ngClass]="{hide:formStep != 1}" class="bg-white p-6 rounded-xl">
          <div class="two-word" style="font-size: 24px;">
            الشروط
            <span>والأحكام</span>
          </div>
          <div class="h-[360px] overflow-auto py-3 px-6 text-sm font-light leading-7">
            <p>
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي
              للنص
              أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
              -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف)
              وكأنها
              نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج
              عن
              النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث.
              على
              مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض
              العبارات الفكاهية إليها الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل
              عشوائي
              أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص،
              بل
              انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن
              مع
              إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور
              برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم
              إيبسوم.

            </p>
          </div>
          <div class=" flex items-center gap-3 px-6 py-2">
            <input id="agreement" type="checkbox" formControlName="agreement">
            <label class="font-light cursor-pointer" for="agreement">قرأتُ و اوافق
              <span class="text-vLightGrayColor">على</span><a href="" class="">
                الشروط و الأحكام </a> <span class="text-vLightGrayColor">
                التي تم ذكرها أعلاه.</span>
            </label>
          </div>
          <div>
            <button class="form-button" [disabled]="cloudForm.controls.agreement.invalid" (click)="incrementStep()">
              الخطوة التالية
            </button>
          </div>
        </div>
        <div [ngClass]="{hide:formStep != 2}">
          <div class="two-word">
            حجز
            <span>رمز الخدمة</span>
          </div>
          <div>
            <p class="description">قم بإنشاء سحابتك عبر نظام رتم
            </p>
          </div>
          <div class="formInput">
            <label for="service-code">رمز الخدمة</label>
            <div>
              <input #serviceCode formControlName="serviceCode" (change)="checkForServicesCode(serviceCode.value)"
                (keydown)="avilableCode=true" id="service-code" type="text"
                placeholder="انشئ رمز الخدمة الخاص بك ( 4 حروف لاتينية )">
              <span *ngIf="startApi" class="loading"></span>
            </div>
            <p>
              <span *ngIf="!avilableCode && !cloudForm.controls.serviceCode.errors?.['pattern']">*رمز الخدمه هذا موجود
                بالفعل</span>
              <span
                *ngIf="cloudForm.controls.serviceCode.errors?.['pattern'] && cloudForm.controls.serviceCode.touched">*
                يجب ان يحتوى الحقل على 4 احرف لاتينيه</span>
              <span
                *ngIf="cloudForm.controls.serviceCode.errors?.['required'] && cloudForm.controls.serviceCode.touched">*هذا
                الحقل
                مطلوب</span>
            </p>
          </div>

          <div class="form-div">
            <div>
              <div class="mr-auto">
                <span><span>https://</span><span> {{cloudForm.controls.serviceCode.value || 'test'}}</span><span>
                    .retm.sa</span></span> <fa-icon [icon]="lock"></fa-icon>
              </div>
            </div>
          </div>
          <div class="py-5 px-6 font-light mt-3 mb-6 bg-vLightGrayColor bg-opacity-20 text-lightGrayColor">
            <p>
              رمز الخدمة هو ترميز فريد لا يجتمع اكثر من تاجر بنفس الرمز، غالبا تحتاج الرمز عند تسجيل الدخول او الدعم
              الفني.
              <br>
              <br>
              اختر رمز مكون من احرف انجليزية من 4 خانات او اكثر، بدون مسافات وارقام.
            </p>
          </div>
          <div>
            <button class="form-button" [disabled]="cloudForm.controls.serviceCode.invalid || !avilableCode "
              (click)="incrementStep()">
              حجز رمز الخدمة </button>
          </div>
        </div>
        <div [ngClass]="{hide:formStep != 3}">
          <div class="two-word">
            صفحة
            <span>التسجيل</span>
          </div>
          <div>
            <p class="description">أنشئ بيانات الدخول لمدير النظام, لتتمكن منالدخول وإدارة حسابك في اي وقت!
            </p>
          </div>
          <div class="form-div mt-3">
            <div>
              <button (click)="decrementStep()">تغيير</button>
              <div>
                <span><span>https://</span><span>{{cloudForm.controls.serviceCode.value}}</span><span>
                    .retm.sa</span></span> <fa-icon [icon]="lock"></fa-icon>
              </div>
            </div>
          </div>
          <div class="formInput">
            <label for="user-name">اسم المستخدم</label>
            <div>
              <input formControlName="userName" id="user-name" type="text"
                placeholder="إسم المستخدم الذي سيظهر في حسابك">
            </div>
            <p>
              <span *ngIf="cloudForm.controls.userName.errors?.['required']&& cloudForm.controls.userName.touched">*هذا
                الحقل
                مطلوب</span>
              <span *ngIf="cloudForm.controls.userName.errors?.['pattern'] && cloudForm.controls.userName.touched">*يجب
                ان يحتوى الاسم على احرف لاتينية فقط</span>
            </p>
          </div>
          <div class="formInput">
            <label for="user-pass">الرقم السري</label>
            <div>
              <input formControlName="password" #password id="user-pass" type="password"
                placeholder="الرقم السري الخاص بالدخول للحساب">
              <fa-icon *ngIf="password.type == 'password'" [icon]="eay" (click)="password.type = 'text'"></fa-icon>
              <fa-icon *ngIf="password.type == 'text'" [icon]="eayslash" (click)="password.type = 'password'"></fa-icon>
            </div>
            <p>
              <span *ngIf="cloudForm.controls.password.errors?.['required']&& cloudForm.controls.password.touched">*هذا
                الحقل
                مطلوب</span>
              <span
                *ngIf="cloudForm.controls.password.errors?.['minlength'] && cloudForm.controls.password.touched">*يجب ان
                لا تقل كلمة المرور عن {{cloudForm.controls.password.errors?.['minlength']?.['requiredLength']}}
                احرف</span>
            </p>
          </div>
          <div class="formInput">
            <label for="pass-confirm">تأكيد الرقم السري</label>
            <div>
              <input formControlName="passwordConfirmation" #passwordConfirmation id="pass-confirm" type="password"
                placeholder="أعد كتابة الرقم السري">
              <fa-icon *ngIf="passwordConfirmation.type == 'password'" [icon]="eay"
                (click)="passwordConfirmation.type = 'text'"></fa-icon>
              <fa-icon *ngIf="passwordConfirmation.type == 'text'" [icon]="eayslash"
                (click)="passwordConfirmation.type = 'password'"></fa-icon>
            </div>
            <p>
              <span
                *ngIf="passwordConfirmation.value != password.value && cloudForm.controls.passwordConfirmation.touched  ">
                كلمة المرور غير متاطبقة
              </span>
            </p>
          </div>
          <div>
            <button class="form-button" style="margin-top: 0;"
              [disabled]="cloudForm.controls.password.invalid || passwordConfirmation.value != password.value ||  cloudForm.controls.userName.invalid"
              (click)="incrementStep()">
              حجز رمز الخدمة </button>
          </div>
          <div class="pt-3 text-lightGrayColor">
            يُعد النقر على زر اتمام عملية التسجيل موافقة منك على <span class="text-darkGrayColor">شروط الاستخدام وسياسة
              الخصوصية</span>
          </div>
        </div>
        <div [ngClass]="{hide:formStep != 4}">
          <div class="two-word">
            الموجز
            <span>الكامل</span>
          </div>
          <div>
            <p class="description py-5">في مايلي موجز لبيانات مدير النظام الخاصة بك!
            </p>
          </div>
          <div class="form-div mt-3">
            <div>
              <button (click)="formStep = 2">تغيير</button>
              <div>
                <span><span>https://</span><span> {{cloudForm.controls.serviceCode.value}}</span><span>
                    .retm.sa</span></span> <fa-icon [icon]="lock"></fa-icon>
              </div>
            </div>
          </div>
          <div class="font-bold text-base">
            <span>اسم المستخدم
            </span>
          </div>
          <div class="form-div mt-3">
            <div>
              <div>
                <span class="text-base font-bold text-darkGrayColor"> {{cloudForm.controls.userName.value}}</span>
              </div>
            </div>
          </div>
          <div>
            <button class="form-button">
              الإنتقال لمدير النظام</button>
          </div>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>