@tailwind base;
@tailwind utilities;
@tailwind components;
@font-face {
  font-family: "Teshrinar";
  src: url("https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47b349c3e3fdfdfd25b84_TeshrinAR%2BLT-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Teshrinar";
  src: url("https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47b34c0cc3911e43cfc30_TeshrinAR%2BLT-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Teshrinar";
  src: url("https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47b349c3e3ff067d25b85_TeshrinAR%2BLT-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
    * {
      box-sizing: border-box;
    }
    body {
      @apply bg-grayColor text-darkGrayColor text-sm;
      font-family: "Teshrinar", sans-serif;
      input {
        @apply bg-transparent;
        &:focus {
          @apply outline-none;
        }
      }
    }
    ::selection {
      @apply bg-midDarkGreenColor text-white;
    }
  }
}
@layer utilities {
  .container {
    @apply mx-auto px-2;
    @media (min-width: 768px) {
      max-width: 1200px;
    }
    @media (min-width: 480px) {
      .container {
        max-width: unset;
      }
    }
  }
}
@layer components {
  .two-word {
    @apply text-darkGreenColor text-center font-bold text-[32px] xs:text-[40px] leading-[56px];
    span {
      @apply text-lightGreenColor;
    }
  }
  .form-button {
    @apply disabled:cursor-not-allowed bg-lightGreenColor hover:bg-darkGreenColor duration-200 px-6 py-3 w-full text-center text-base text-white rounded-lg mt-5;
  }
  .description {
    @apply md:text-lg font-light max-w-[18rem] xs:max-w-md text-lightGrayColor text-center;
  }
  .formInput {
    @apply pb-1;
    label {
      @apply font-bold text-sm text-darkGrayColor;
    }
    > div {
      @apply pt-3 pb-1 relative;
      input {
        @apply bg-white w-full py-[18px] px-[22px] rounded-lg;
      }
      fa-icon {
        @apply absolute left-5 top-1/2 -translate-y-1/2 text-xl cursor-pointer;
      }
    }
    p {
      @apply h-5 text-xs text-red-600;
    }
  }
  .form-div {
    @apply flex justify-between mb-3;
    > div {
      @apply flex  justify-between bg-white w-full py-[18px] px-[22px] rounded-lg;
      > div {
        @apply flex gap-3 justify-end text-lightGreenColor;
        > span {
          > span {
            &:nth-child(2) {
              @apply font-bold text-darkGrayColor;
            }
            &:nth-child(3) {
              @apply text-lightGrayColor;
            }
          }
        }
      }
      > button {
        @apply px-4 hover:bg-slate-100 rounded-lg text-base text-lightGreenColor;
      }
    }
  }
}
